html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5F5F5;
}

/* Hero */

.hero {
    background-image: url("img/hero-img.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    text-align: center;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 0;
}

.hero h1, .hero p, .cta {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 4rem;
    line-height: 1.2;    
}

.hero p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.cta {
    background-color: #fff;
    color: #000080;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #000080;
    color: #fff;
    transform: scale(1.05);
    cursor: pointer;
}

/* Cards */

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .card {
        width: 100%;
    }
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000080;
    font-weight: 600;
}

.card p {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #000080;
    margin-bottom: 20px;
}

.card a {
    color: #000080;
    text-decoration: none;
    font-weight: 600;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-card {
    background-color: #000080;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #fff;
    color: #000080;
    border: 1px solid #000080;
    transform: scale(1.05);
}

/* Ruta de aprendizaje */

.widgets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.widget-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-left: 5px solid #000080;
    padding-left: 15px;
}

.widget-item h3 {
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 5px;
}

.widget-item p {
    line-height: 1.2;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    padding: 10px 20px;
}

@media (max-width: 600px) {
    .footer-container {
        text-align: center;
    }
}

.footer-container h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}